## Datos sobre las estaciones Ecobici

In [2]:
import requests
from pprint import pprint
import pandas as pd


with open("credenciales.txt", "r") as file:
    client_id = file.readline().rstrip()
    client_secret = file.readline().rstrip()


api_url = "https://apitransporte.buenosaires.gob.ar/" 
resource_info = "ecobici/gbfs/stationInformation"
url = api_url + resource_info
url += "?client_id=" + client_id
url += "&client_secret=" + client_secret
r = requests.get(url)
stations_info = r.json()
r.status_code

200

In [3]:
stations_info['data']['stations'][0]

{'station_id': '2',
 'name': '002 - Retiro I',
 'physical_configuration': 'SMARTLITMAPFRAME',
 'lat': -34.5924233,
 'lon': -58.3747151,
 'altitude': 0.0,
 'address': 'Ramos Mejia, Jose Maria, Dr. Av. & Del Libertador Av.',
 'post_code': '11111',
 'capacity': 20,
 'rental_methods': ['KEY', 'TRANSITCARD', 'PHONE'],
 'groups': ['RETIRO'],
 'obcn': '',
 'nearby_distance': 1000.0}

In [4]:
df_stations_info = pd.DataFrame(stations_info["data"]["stations"])
df_stations_info.head()

,station_id,name,physical_configuration,lat,lon,altitude,address,post_code,capacity,rental_methods,groups,obcn,nearby_distance,cross_street
0,2,002 - Retiro I,SMARTLITMAPFRAME,-34.592423,-58.374715,0.0,"Ramos Mejia, Jose Maria, Dr. Av. & Del Liberta...",11111,20,"[KEY, TRANSITCARD, PHONE]",[RETIRO],,1000.0,NaN
1,3,003 - ADUANA,SMARTLITMAPFRAME,-34.611032,-58.368260,0.0,Moreno & Av Paseo Colon,11111,20,"[KEY, TRANSITCARD, PHONE]",[MONSERRAT],NaN,1000.0,Moreno & Av Paseo Colon
2,4,004 - Plaza Roma,SMARTLITMAPFRAME,-34.601726,-58.368763,0.0,Lavalle & Bouchard,11111,20,"[KEY, TRANSITCARD, PHONE]",[SAN NICOLAS],,1000.0,NaN
3,5,005 - Plaza Italia,SMARTLITMAPFRAME,-34.580550,-58.420954,0.0,Av. Sarmiento 2601,1111,40,"[KEY, TRANSITCARD, PHONE]",[PALERMO],,1000.0,NaN
4,6,006 - Parque Lezama,SMARTLITMAPFRAME,-34.628526,-58.369758,0.0,"Avenida Martin Garcia, 295",1111,20,"[KEY, TRANSITCARD, PHONE]",[SAN TELMO],,1000.0,NaN

In [5]:
# Omitimos algunas columnas de este Dataframe
df_stations_info = df_stations_info[["station_id", "name", "address", "capacity"]]
df_stations_info.head()

,station_id,name,address,capacity
0,2,002 - Retiro I,"Ramos Mejia, Jose Maria, Dr. Av. & Del Liberta...",20
1,3,003 - ADUANA,Moreno & Av Paseo Colon,20
2,4,004 - Plaza Roma,Lavalle & Bouchard,20
3,5,005 - Plaza Italia,Av. Sarmiento 2601,40
4,6,006 - Parque Lezama,"Avenida Martin Garcia, 295",20

In [6]:
df_stations_info['station_id'] = df_stations_info['station_id'].astype('int64')
df_stations_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 379 entries, 0 to 378
Data columns (total 4 columns):
station_id    379 non-null int64
name          379 non-null object
address       379 non-null object
capacity      379 non-null int64
dtypes: int64(2), object(2)
memory usage: 12.0+ KB

In [8]:
df_stations_info.to_csv('ecobici_info.csv', index=False)